body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
}

.hamburguer-menu i {
    color: red;
    font-size: 28px;
}

.capitalize {
    text-transform: capitalize;
}

.bg-red {
    background-color: red;
}

.banner-ppal {
    background-color: #f0f0f2;
}

.tienda-category {
    background-image: url('/img/bg-category.png');
}

.banner-title {
    font-size: 33px;
}

.font-josefin-sans {
    font-family: 'Josefin Sans', sans-serif;
}

.banner-text {
    font-size: 18px;
}

.uppercase {
    text-transform: uppercase;
}
.img-product-basic{
    object-fit: cover;
}

.separador {
    font-size: 20px;
}

.linea {
    border-top: 3px solid orangered;
    width: 45px;
    display: inline-block;
    height: 10px;

}

.card-basic {
    text-align: center;
}

.link-product-detail {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.precio {
    color: red;
    font-weight: 600;
}

.bg-footer {
    background-color: rgb(151, 151, 151);
}

.panel-suscripcion h4 {
    font-family: 'Old Standard TT', serif;
    text-align: center;
}

.panel-register-link {
    background-image: linear-gradient(90deg, #B08EAD 0%, #4B3049 64%, #B08EAD 100%);
}

.bg-suscripcion {
    background-color: #182D4C;
}

.bg-white {
    background-color: #FFFFFF;
}

.link-white {
    color: white;
    text-decoration: none;
}



.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus,
.quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover,
.quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}

.shopping-cart {
    margin-top: 20px;
}

.about-details-cap h4 {

    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    color: #000a2d;
    display: inline-block;
    position: relative;
    padding-left: 68px;
}

.about-details-cap h4::before {
    position: absolute;
    content: "";
    width: 54px;
    height: 2px;
    background: #eb566c;
    top: 0;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.about-details-cap p {
    color: #464d65;
    font-size: 14px;
}
.slider-height2{
    background-image: url('/img/bg-category.png');
    min-height: 260px;
    background-repeat:no-repeat ;
    background-position: center center;
    
}

.slider-area{
    overflow: hidden;
}
.slider-area .hero-cap{
    font-size: 70px;
    font-weight: 700;
    text-transform: capitalize;

    
     }

     .hero-cap h2{
        font-size: 28px;
        font-weight: 700;
        text-transform: capitalize;
    
        
         }

         #search {
            float: right;
            margin-top: 9px;
            width: 250px;
        }
        
        .search {
            padding: 5px 0;
            width: 230px;
            height: 30px;
            position: relative;
            left: 10px;
            float: left;
            line-height: 22px;
        }
        
            .search input {
                position: absolute;
                width: 0px;
                float: Left;
                margin-left: 210px;
                -webkit-transition: all 0.7s ease-in-out;
                -moz-transition: all 0.7s ease-in-out;
                -o-transition: all 0.7s ease-in-out;
                transition: all 0.7s ease-in-out;
                height: 30px;
                line-height: 18px;
                padding: 0 2px 0 2px;
                border-radius:1px;
            }
        
                .search:hover input, .search input:focus {
                    width: 200px;
                    margin-left: 0px;
                }
        
        .buscar-btn {
            height: 30px;
            position: absolute;
            right: 0;
            top: 5px;
            border-radius:1px;
        }
        

@media (min-width: 576px) and (max-width: 991px) {

    .img-height-300px {
        object-fit: cover;
        width: 100%;
        height: 300px;
    }

    .img-height-650px {
        object-fit: cover;
        width: 100%;
        height: 650px;
    }
    .slider-height2{
        min-height: 100px;
    }
   
}

@media (min-width: 992px) and (max-width: 1199px) {
    .img-height-650px {
        object-fit: cover;
        width: 100%;
        height: 650px;
    }

    .navbar-expand-lg .navbar-collapse {
        display: contents !important;
        font-size: 20px;
    }

    .banner-title {
        font-size: 60px;
        font-family: 'Josefin Sans', sans-serif;
    }

    .banner-text {
        font-size: 28px;
    }

    .watch-container {
        text-align: center;
    }

    .img-height-317px {
        object-fit: cover;
        width: 100%;
        height: 317px;
    }
    .slider-height2{
        min-height: 100px;
    }
    
    
    .hero-cap h2{
        font-size: 70px;
    }

}

@media (min-width: 1200px) {
    .img-height-650px {
        object-fit: cover;
        width: 100%;
        height: 650px;
    }

    .menu-session {
        font-size: 22px;
    }

    .navbar-expand-lg .navbar-collapse {
        display: contents !important;
        font-size: 20px;
    }


    .banner-title {
        font-size: 60px;
        font-family: 'Josefin Sans', sans-serif;
    }

    .banner-text {
        font-size: 28px;
    }

    .watch {
        height: 600px;
    }

    .watch {
        text-align: center;
        object-fit: contain;
    }

    .img-height-317px {
        object-fit: cover;
        width: 100%;
        height: 317px;
    }

    .navbar-brand img {
        width: 180px;
    }
    .slider-height2{
        min-height: 100px;
    }
    
    .slider-area .hero__img{
        position: relative;
        height: 500px;
    }
    .hero-cap h2{
        font-size: 28px;
    }
}
