body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
}
.hamburguer-menu i {
    color: red;
    font-size: 28px;
}
.capitalize{
    text-transform: capitalize;
}
.bg-red{
    background-color: red;
}
.banner-ppal {
    background-color: #f0f0f2;
}
.tienda-category{
    background-image: url('/img/bg-category.png');
}
.banner-title {
    font-size: 33px;
}
.font-josefin-sans {
    font-family: 'Josefin Sans', sans-serif;
}
.banner-text {
    font-size: 18px;
}
.uppercase{
    text-transform: uppercase;
}

.separador{
    font-size: 20px;
}
.linea{
    border-top: 3px solid orangered;
    width: 45px;
    display: inline-block;
    height: 10px;

}

.card-basic{
    text-align: center;
}
.link-product-detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.precio{
    color: red;
    font-weight: 600;
}
.bg-footer{
    background-color:rgb(151, 151, 151);
}
.panel-suscripcion h4{
    font-family: 'Old Standard TT', serif;
    text-align: center;
}
.panel-register-link{
    background-image: linear-gradient(90deg, #B08EAD 0%, #4B3049 64%, #B08EAD 100%);
}
.bg-suscripcion{
    background-color: #182D4C;
}
.bg-white{
    background-color: #FFFFFF;
}
.link-white{
    color: white;
    text-decoration: none;
}

@media (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 991px) {

    .img-height-300px{
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
    .img-height-650px{
        object-fit: cover;
        width: 100%;
        height: 650px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .img-height-650px{
        object-fit: cover;
        width: 100%;
        height: 650px;
    }
    .navbar-expand-lg .navbar-collapse {
        display: contents !important;
        font-size: 20px;
    }

    .banner-title {
        font-size: 60px;
        font-family: 'Josefin Sans', sans-serif;
    }

    .banner-text {
        font-size: 28px;
    }
    .watch-container{
        text-align: center;
    }
    .img-height-317px{
        object-fit: cover;
        width: 100%;
        height: 317px;
    }
  
}
@media (min-width: 1200px){
    .img-height-650px{
        object-fit: cover;
        width: 100%;
        height: 650px;
    }

    .menu-session {
        font-size: 22px;
    }

    .navbar-expand-lg .navbar-collapse {
        display: contents !important;
        font-size: 20px;
    }


    .banner-title {
        font-size: 60px;
        font-family: 'Josefin Sans', sans-serif;
    }

    .banner-text {
        font-size: 28px;
    }
    .watch{
        height: 600px;
    }
    .watch{
        text-align: center;
        object-fit: contain;
    }
    .img-height-317px{
        object-fit: cover;
        width: 100%;
        height: 317px;
    }
    .navbar-brand img{
        width: 180px;
    }
}